# fly.toml app configuration file generated for sentrinode-api on 2026-01-25T23:41:42Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sentrinode-api'
primary_region = 'iad'

[build]

[processes]
  app = "uvicorn api:app --host 0.0.0.0 --port ${PORT:-8080}"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
