receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  jaeger:
    protocols:
      thrift_http:
        endpoint: 0.0.0.0:14268
  zipkin:
    endpoint: 0.0.0.0:9411

processors:
  batch:

exporters:
  otlp/sentrinode:
    endpoint: "sentrinode-production.up.railway.app:4317"
    headers:
      "x-sentrinode-key": "${API_KEY}"
  debug:
    verbosity: normal

service:
  pipelines:
    traces:
      receivers: [otlp, jaeger, zipkin]
      processors: [batch]
      exporters: [otlp/sentrinode, debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/sentrinode, debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/sentrinode, debug]
