# fly.toml app configuration file generated for sentrinode on 2026-01-31T15:00:32-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sentrinode'
primary_region = 'iad'

[processes]
  app = 'streamlit run /app/app.py --server.address=0.0.0.0 --server.port 8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
