receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  prometheus:
    endpoint: "0.0.0.0:9464"
  debug:
    verbosity: detailed

connectors:
  spanmetrics:
    metrics_flush_interval: 15s
    histogram:
      explicit:
        buckets: [0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10]

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [spanmetrics, debug]
    metrics:
      receivers: [spanmetrics]
      exporters: [prometheus, debug]
