receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  jaeger:
    protocols:
      thrift_http:
        endpoint: 0.0.0.0:14268
  zipkin:
    endpoint: 0.0.0.0:9411

processors:
  batch:
  resource:
    attributes:
      - key: "sentrinode.node_id"
        value: "local-node-001"
        action: insert

exporters:
  logging:
    loglevel: debug
  otlp:
    endpoint: "accomplished-creativity-production-653b.up.railway.app:4318"
    tls:
      insecure: true
    sending_queue:
      enabled: true
      num_consumers: 4
      queue_size: 5120
    retry_on_failure:
      enabled: true
  prometheus:
    endpoint: "0.0.0.0:9464"
    resource_to_telemetry_conversion:
      enabled: true

connectors:
  spanmetrics:
    histogram:
      explicit:
        buckets: [100ms, 500ms, 1s, 2s, 5s]

service:
  pipelines:
    traces:
      receivers: [otlp, jaeger, zipkin]
      processors: [resource, batch]
      exporters: [otlp, spanmetrics]
    metrics:
      receivers: [otlp, spanmetrics]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, otlp]
