receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

exporters:
  prometheus:
    endpoint: "0.0.0.0:${env:PORT}"
  debug:
    verbosity: detailed

connectors:
  spanmetrics: {}

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [spanmetrics, debug]
    metrics:
      receivers: [spanmetrics]
      exporters: [prometheus, debug]
